# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	#name = Gökhan Doğramacı
	#email = 
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg2"
    pod = push origin develop
    f = "!m() { git checkout -b feature/NAT-#$1; }; m"
    b = "!m() { git checkout -b bugfix/NAT-#$1; }; m"
    m = "!m() { git merge --no-ff $1; }; m"
	d = difftool
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff